.centerClass{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -400px;
    width: 800px;
    height: 1000px;
    font-size: 16px;
  }

.DateClass{
  font-style: italic;
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 26px;
  font-size: 14px;
}

.DateBorder {
  border-bottom: 2px solid black;
}

.MerchantName {
  padding-left: 26px;
  padding-right: 26px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.totalMoney {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  left: 30%;
}

.notification {
  height: 25px;
  padding-right: 10px;
  padding-bottom: 2px;
}

.payday{
  display: flex;
  flex-direction: row;
}